<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 开启注解 -->
    <context:annotation-config/>

    <!-- 扫描struts包 -->
    <context:component-scan base-package="com.sdut.ngxykjc.User.action"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.school.action"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.department.action"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.employee.action"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.unit.action"/>
    <!--扫描work包下的action和dao和service-->
    <context:component-scan base-package="com.sdut.ngxykjc.work"/>

</beans>