<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- dataSource 121.42.205.85-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl"
                  value="jdbc:mysql://121.42.205.85:3306/ngxykjc?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="user" value="root"/>
        <property name="password" value="lalala"/>
        <!-- 初始化连接池大小 -->
        <property name="initialPoolSize" value="3"/>
        <!-- 最大连接池大小 -->
        <property name="maxPoolSize" value="6"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- 注入datasource，给sessionfactoryBean内setdatasource提供数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/hibernate/hibernate.cfg.xml"/>
        <!-- 搜索注解bean -->
        <property name="packagesToScan">
            <list>
                <value>com.sdut.ngxykjc.User.bean</value>
                <value>com.sdut.ngxykjc.basicsInfo.school.bean</value>
                <value>com.sdut.ngxykjc.basicsInfo.department.bean</value>
                <value>com.sdut.ngxykjc.basicsInfo.employee.bean</value>
                <value>com.sdut.ngxykjc.basicsInfo.unit.bean</value>
                <value>com.sdut.ngxykjc.work.HorizontalProject.bean</value>
                <value>com.sdut.ngxykjc.work.VerticalProject.bean</value>
                <value>com.sdut.ngxykjc.work.workAchievement.bean</value>
                <value>com.sdut.ngxykjc.work.scientificResearch.bean</value>
                <value>com.sdut.ngxykjc.work.softwareWork.bean</value>
                <value>com.sdut.ngxykjc.work.paper.bean</value>
                <value>com.sdut.ngxykjc.work.patent.bean</value>
            </list>
        </property>
    </bean>

    <!-- 扫描dao组件 -->
    <context:component-scan base-package="com.sdut.ngxykjc.User.dao"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.school.dao"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.department.dao"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.employee.dao"/>
    <context:component-scan base-package="com.sdut.ngxykjc.basicsInfo.unit.dao"/>



</beans>